.container{
    margin: 0 3vw;
    width: 50%;
    color: #414141;
    line-height: 2rem;
    padding-bottom: 3vh;
}

.container h6 {
    color: #407aff;
    font-size: 0.8rem;
    
}

.container p {
    line-height: 1.4rem;
    margin-bottom: 2vh;
}

.link {
    color:#1d1d1d;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    margin-right: 10px;
}

.link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    z-index: -1;
    width: 0;
    height: 0.3em;
    opacity: 0;
    background: #407aff;
    transition: all 350ms cubic-bezier(0.5, 1.6, 0.15, 0.9);
}
 
.link:hover::after {
    left: 0;
    width: 100%;
    opacity: 1;
}

@media screen and (max-width: 850px) {
    .container{
        width: 100%;
        margin: 0;
        padding-bottom: 2vh;
    }
}