.section{
    padding: 8rem 0 7rem;
    text-align: center;
}

.description{
    font-size: 120%;
}

.section.intro{
    text-align: left;
}

.aboutMe{
    text-align: left;
    font-size: 120%;
}

#links{
    text-align: center;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

.profile-pic{
    margin: 30px 0px 100px 110px;
    border-radius: 150px;
    width: 100%;
    height: 100%;
}

#links img{
    width: 60px;
    height: 60px;
}
.fa{
    width: 150%;
    height: 150%;
}
