/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: "Raleway", sans-serif;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
    div.example {
      font-size: 100%;
    }
}
  
  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    div.example {
      font-size: 50%;
    }
}

body {
    background-color: whitesmoke;
}


.pgShortcut {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    /*rounded*/border-radius: 2px;
    width: 70%;
    padding: 10px 10px;
    margin: 10px;
    color: black;
    background-color:#ffcc33;
}

img {
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

#links {
    padding: 0px 0px 0px 0px;
}

.linkIcons{
    background-color: transparent;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding: 10px 10px 10px 10px;
}