.container{
    width: 300px;
    background-color: #ffcc33;
    margin: auto; 
}

#nameCard{
    font-family: 'Work Sans', sans-serif;
    font-size: 300%;
    width: 500px;
    float: left;
    height: 210px;
    margin-left: 50px;
    background-color: #ffcc33;
}
#nameCard h6{
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    padding-top: 100px;
    margin-bottom: -50px;
    
}

#externalLinks{
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 175px
}

#clear{
    clear: both;
}

.links{
    padding: 3%;
    width: 80%;
    display: inline-block;
    margin: auto;

}

.linkIcons{
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}


