.container {
    padding: 3vh 0;
    margin: 0 9vw;
    color: #414141;
}
.container h1{
    font-size: 3rem;
    padding: 3vh 0;
}
.container h4 {
    color: darkgray;
    line-height: 2rem;
}

.blogpost{
    margin: 4vh 0;
}

.nextprev{
    display: flex;
    justify-content: space-between;
    margin: 4vh 0;
}

.nextprevlinks{
    text-decoration: none;
    color:#407aff;
    vertical-align: middle;
}
.nextprevlinks:hover{
    color: #3858a3;
}