div{
    margin: 4vh 0;
}

.email {
    margin: 0 1rem;
    text-decoration: none;
    line-height: 4rem;
    font-size: 1.3rem;
    color: #407aff
}
.email:hover {
    color: #3858a3
}

.icon {
    max-width: 50px;
    max-height: 50px;
    margin: 1rem 1rem;
    vertical-align: middle;
    opacity: 0.7;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon:hover{
    opacity: 1;
}

@media screen and (max-width: 475px) {
    .email{
        font-size: 1rem;
        margin: 0;
    }
}

