.container {
    padding: 3vh 0;
    margin: 0 9vw;
    color: #414141;
}
.container h1{
    font-size: 3rem;
    padding: 3vh 0;
}
.listing {
    padding: 3vh 0;
    margin: 3vh 0;
    border-bottom: 0.2vh solid lightgray;
}

.listing h2 {
    font-size: 2rem;
    color:#414141;
}

.listing h4 {
    color: darkgray;
    line-height: 2rem;
}

.link{
    color:#407aff;
    text-decoration: none;
}
.link:hover{
    color: #3858a3;
}