* {
  padding: 0; 
  margin: 0;
}
html {
  font-family: 'Oxygen',sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  background-color: #fafafa;
}
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divider{
  margin: 0 7vw;
  margin-bottom: 3vh;
  height: 5px;
  width: 100px;
  background-color: #414141;
}

@media screen and (max-width: 1060px) {
  .divider{
    margin: 3vh auto;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
