.fancy  {
    font-size:  1.5rem;
    text-align:  center;
    line-height:  1.2;
    padding:  0.5rem;
    color: #fff;
    background-color:  rebeccapurple;
    font-weight:  800;
    font-style:  italic;
    text-transform:  uppercase;
  }