/*@font-face { font-family: Mplus; src: url('../../assets/fonts/Mplus1p-Bold.woff'); } */

.container {
    /*background-color: #414141;*/
    min-width: 100%;
}

.row {
    /*font-family: Mplus;*/
    font-size: 0.8em;
    margin: 0 7vw;
    display: flex;
    flex-wrap: wrap;
    color: #1d1d1d;
}

.text{
    flex-basis: 0;
    flex-grow: 1;
    margin-bottom: 0.8rem 
}

.col {
    text-align: center;
    display: flex;
}

.link{
    margin: 0 1rem;
}

.icon {
    max-width: 25px;
    max-height: 25px;
    margin: 0 0.5vw;
    vertical-align: middle;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.icon:hover{
    transform: translateY(-5px);
}


@media screen and (max-width: 500px) {
    .row{
        display: block;
    }
    .text{
        text-align: center;
    }
    .col {
        justify-content: center;
    }
}